.product {
    display: inline-flex;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    margin: 10px;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    padding: 20px;
    max-width: 400px;
    justify-content: flex-end;
}

.product__rating {
    display: flex;
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
}

.product__price {
    margin-top: 5px;
}

.product > img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    background-color: rgb(130, 203, 228);
    border: 1px solid;
    border-color: rgb(130, 203, 228);
}